body {
  font-family: "Barlow", sans-serif;
  font-size: 16pt;
}
.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}
.skip a:focus {
  top: 20px;
  color: black;
  text-decoration-style: solid;
}
*:focus {
  border: 2px solid black;
}
header {
  background: #265797;
  border-bottom: 4px solid #265797;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: space-between;
}
h1 {
  font-size: 18pt;
  padding: 10px;
  color: white;
  display: flex;
  align-content: flex-start;
}
a:link {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: black;
  font-size: 22px;
}
#current_page a {
  background-color: yellow;
  padding: 3px;
  border: 2px solid black;
  color: black;
}
.nav_links {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-around;
}
nav li {
  padding: 10px;
}
.main_bayou {
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 3px solid #3f7dce;
}
form {
  text-align: center;
  padding: 25px;
}
input[type="text"], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="email"], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea[name="message"], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button[type=submit] {
  width: 100%;
  background-color: #265797;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
p {
  padding: 10px;
  text-align: center;
}
.outside_grid, .inside_grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}
figure {
  border: 1px solid black;
}
.outside_grid img, .inside_grid img {
  width: 100%;
}
figcaption {
  font-size: 12pt;
  padding: 4px;
}
.cat_photo {
  width: 100%;
}
.flip-card {
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  width: 600px;
  height: 400px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner,
.flip-card:focus-within .flip-card-inner,
.flip-card:active .flip-card-inner,
.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: #bbb;
  color: black;
}
.flip-card-back {
  background-color: #265797;
  color: white;
  transform: rotateY(180deg);
}

footer {
  background-color: black;
  color: white;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
}

@media screen and (min-width: 750px) {
  header {
    background: #265797;
    border-bottom: 4px solid #265797;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
  }
  .nav_links {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-around;
  }
  nav li {
    padding: 10px;
  }
  main {
    padding: 0 0 15px 0;
  }
  form {
    padding-left: 150px;
    padding-right: 150px;
  }
  .main_bayou {
    width: 60%;
  }
  .outside_grid, .inside_grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  footer {
    position: relative;
  }
  .cat_photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
}

@media screen and (min-width: 850px) {
  h1 {
    font-size: 18pt;
    padding: 10px;
    color: white;
    display: flex;
    align-content: flex-start;
  }
  .main_bayou {
    border: none;
  }
  form {
    padding-left: 200px;
    padding-right: 200px;
  }
  .cat_photo {
    width: 35%;
    filter: grayscale(2);
    transition-property: filter, border-radius, border;
    transition-duration: 8s;
    transition-timing-function: linear;

  }
  .cat_body, html {
    height: 100%
  }
  .cat_p {
    background-color: white;
  }
 
  .cat_body, .parallax {
    background-image: url("../images/pawprints.png");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 1000px) {
  form {
    padding-left: 400px;
    padding-right: 400px;
  }
  .main_bayou {
    width: 30%;
  }
}
@media all and (prefers-reduced-motion:reduce){
	
}